:root {
	--white-color: #fff;
	--grey-color: #333;
	--gold-color: #ffbb33;
	--black-color: #0d0d0d;
}

html {
	user-select: none;
	font-size: 14px;
	background-color: var(--black-color);
}

.title {
	font-family: 'CoachellaMedium';
	font-size: 5.3rem;
	line-height: 5.3rem;
	color: var(--white-color);
	letter-spacing: -0.235rem;
}

.sub-title {
	font-family: 'CoachellaMedium';
	font-size: 2.941rem;
	line-height: 2.941rem;
	color: var(--gold-color);
	letter-spacing: -0.098rem;
}

.mark-discript {
	font-family: 'GothamPro';
	font-size: 1rem;
	line-height: 1.764rem;
	color: var(--gold-color);
	letter-spacing: -0.029rem;
	white-space: pre;
}

.discript {
	font-family: 'GothamPro';
	font-size: 1rem;
	line-height: 1.764rem;
	color: var(--white-color);
	letter-spacing: -0.029rem;
	white-space: pre;
}

.price {
	font-family: 'GothamPro';
  font-size: 2.941rem;
  font-weight: 100;
  line-height: 2.941rem;
  letter-spacing: -2.5px;
  color: var(--white-color);
}

 @media (min-width: 768px) { 
/* 	html {
	font-size: 14px;
} */
} 

@media (min-width: 992px) { 
	html {
		font-size: 15px;
	}
}

@media (min-width: 1200px) { 
	html {
		font-size: 17px;
	}
}

@media (min-width: 1600px) { 
	html {
		font-size: 20px;
	}
}